<!DOCTYPE html>
<html>
  <head>
    <title>Image Search Abstraction Layer</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        An Image Search Abstraction Layer
      </h1>
    </header>

    <main>
      <p>Image Search API: <a href="/api/search/lolcat funny?offset=3">/api/search/lolcat funny?offset=3</a></p>
      <p>
        Latest queries: <a href="/api/latest">/api/latest</a>
      </p>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>
  </body>
</html>
